.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09);
  border: 1px solid #bbc1c7;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}
.card .item-image-container {
  width: 50%;
  height: 20rem;
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
}
.card .item-image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: 8px;
  object-fit: contain;
}
/* DESCRIPCION */

.item-detail .detail-description {
  font-size: 1.2rem;
  display: flex !important;
  color: #062b4f;
  line-height: 1.5;
  margin: 10px 0 20px 0;
  text-align: center;
}

/* BOTON */

.btn-cart {
  width: fit-content;
  border: none;
  color: #0e9f96;
  border: 2px solid #0e9f96;
  background: transparent;
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-cart:hover {
  background: #0e9f96;
  color: #fff;
  transform: translateY(-3px);
}

/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width: 900px) {
  .item-card {
    flex-direction: column;

    text-align: center;
    flex-wrap: wrap;
  }

  .detail-info {
    align-items: center;
  }

  .btn-cart {
    width: 100%;
  }
}

/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width: 480px) {
  .item-info {
    padding: 1rem;
    max-width: 400px;
    margin: auto;
  }
  .item-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .item-title {
    font-size: 1.5rem;
  }

  .item-price {
    font-size: 1.5rem;
  }

  .item-description {
    font-size: 0.95rem;

    line-height: 1.6;
  }
}
