.item-detail {
  width: 100%;

  margin: auto;
}
/* CARD PRINCIPAL */

.item-card {
  width: 100%;

  max-width: 1200px;

  margin: auto;

  background: white;

  border-radius: 25px;

  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;

  gap: 4rem;

  padding: 3rem 2rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  box-sizing: border-box;
}

/* IMAGEN */

.item-image-container {
  flex: 1;

  display: flex;

  justify-content: center;

  align-items: center;
}

.detail-image {
  width: 100%;

  max-width: 450px;

  object-fit: contain;

  border-radius: 20px;
}

/* INFO */

.detail-info {
  flex: 1;

  display: flex;

  flex-direction: column;

  justify-content: center;

  gap: 1.2rem;
}

/* TITULO */

.detail-title {
  font-size: 2rem;

  color: #062b4f;

  margin: 0;
}

/* PRECIO */

.detail-price {
  font-size: 2rem;

  font-weight: bold;

  color: #12c7b7;

  margin: 0;
}

/* DESCRIPCION */

.detail-description {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  color: #666;
  line-height: 1.5;
  margin: 10px 0 20px 0;
  text-align: center;
}

/* BOTON */

.btn-cart {
  width: fit-content;

  border: none;

  background: #12c7b7;

  color: white;

  padding: 1rem 2rem;

  border-radius: 12px;

  font-size: 1rem;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s ease;
}

.btn-cart:hover {
  background: #0e9f96;

  transform: translateY(-3px);
}

/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width: 900px) {
  .item-card {
    flex-direction: column;

    text-align: center;
    flex-wrap: wrap;
  }

  .detail-info {
    align-items: center;
  }

  .btn-cart {
    width: 100%;
  }
}

/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width: 480px) {
  .item-info {
    padding: 1rem;
    max-width: 400px;
    margin: auto;
  }
  .item-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .item-title {
    font-size: 1.5rem;
  }

  .item-price {
    font-size: 1.5rem;
  }

  .item-description {
    font-size: 0.95rem;

    line-height: 1.6;
  }
}
