/* NAV GENERAL */

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* LINKS */

.nav a {
  text-decoration: none;
  color: #062b4f;
  font-weight: 600;
  transition: 0.3s ease;
  font-size: 2rem;
}

.nav a:hover {
  color: #12c7b7;
}

/* CARRITO */

.carrito-link {
  display: flex;

  align-items: center;

  gap: 0.4rem;
}

#carrito {
  font-size: 1.9rem;
}

/* BOTON HAMBURGUESA */

.menu-btn {
  display: none;

  border: none;

  background: #12c7b7;

  color: white;

  width: 42px;
  height: 42px;

  border-radius: 10px;

  font-size: 1.3rem;

  cursor: pointer;
}

/* ========================= */
/* TABLET Y MOBILE */
/* ========================= */

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav {
    position: absolute;

    top: 80px;
    left: 0;

    width: 100%;

    background: white;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);

    display: none;
  }

  .nav.active {
    display: block;
  }

  .nav ul {
    flex-direction: column;

    gap: 0.6rem;

    padding: 2rem 0;
  }

  .nav a {
    font-size: 1.2rem;
  }
}
