.container {
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}
.container-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
}
/*
.container-products .description {
  display: none !important;
}
.item-list-container a {
  text-decoration: none;
  display: flex;
}
.container-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #062b4f;
  margin-bottom: 2rem;
}
*/
/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width: 768px) {
  .container {
    padding: auto;
    margin: 0;
  }
  .container-title {
    font-size: 2rem;
    width: auto;
  }
  .container-products {
    padding: auto;
    max-width: 900px;
  }
}
/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .container-title {
    font-size: 1.5rem;
    width: auto;
  }
  .container-products {
    max-width: 400px;
    margin: 0;
  }
}
